{{!-- 使用默认模板布局 --}}
{{!< default }}

{{#contentFor "stylesheets"}}
<link rel='stylesheet' href='{{{path 'public/pages/console/index/index.less'}}}' />
{{/contentFor}}

{{!-- 模板body BEGIN --}}
<div id="page">
  <p>{{username}};{{displayName}}</p>
  <!-- <p>{{info}}</p> -->
</div>
{{!-- 模板body END --}}

{{#contentFor "scripts"}}
<script src="{{{path 'public/pages/console/index/index.js'}}}"></script>
<script>
console.log(JSON.parse('{{info}}'));
</script>
{{/contentFor}}
